<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script defer src="https://friconix.com/cdn/friconix.js"> </script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
  <link rel="stylesheet" href="/style.css">
    <title>Yel-Camp</title>
</head>

<body class="d-flex flex-column vh-100" id="top">

    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark  sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/campgrounds">Yel-Camp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fi-xnsuxl-house-solid fi-size-l"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds">Campground</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds/new">New campground</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register" class="nav-link">Register</a>
                        </li>
                        <% }else{%>
                            <li class="nav-item">
                                <a href="/user/<%=currentUser._id%>" class="nav-link">
                                  Account <i class="fi-cnsuxl-user-circle-solid"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">logout <i class="fi-xnsuxl-sign-out-solid"></i></a>
                            </li>
                            <% } %>
                </ul>
                    <form class="d-flex ms-auto" action="/campgrounds/find" method="post">
                     <input class="form-control me-2"  name="q" required type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
            </div>
        </div>
    </nav>
    <%- include("../partials/flash") %>
        <main class="mt-5">
            <%-body-%>
        </main>
   <footer class="site-footer mt-auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">It is a web application designed to add, rate and review different campgrounds, different users(read campers) can put in their comments and concerns, so that it is a well informed and well prepared camping trip for other users.</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
          //  <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by Aadil Traders.
         //   </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100026140662597"><i class="fi-cnsuxl-facebook-circle fi-size-l"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/AadilKhan8411"><i class="fi-xnsuxl-twitter-solid fi-size-l"></i></a></li>
              <li><a class="dribbble" href="https://www.instagram.com/aadil_.003/"><i class="fi-xnsuxl-instagram fi-size-l"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/aadil-khan-b4794b1a0"><i class="fi-xnsuxl-linkedin fi-size-l"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
<script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()

var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
        </script>
<script src="/index.js"></script>
</body>

</html>
